<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/header :: header"></head>
<body>
	<!--/*@thymesVar id="tabelaCommand" type="com.pvictorcr.bolaodacopa.commands.usuarioCommand"*/-->
	<div th:replace="fragments/menu :: menu"></div>
	
	<p class="bemvindo" th:text="${usuario_detalhe.nome}">Fulano</p>
	<p class="bemvindo" th:text="@{'fez ' + ${usuario_detalhe.getPontuacao()} + ' pontos at&eacute; o momento'}">fez 80 pontos at&eacute; o momento</p>

<!--/*@thymesVar id="tabelaCommand" type="com.pvictorcr.bolaodacopa.commands.tabelaCommand"*/-->
<div th:each="eliminatoria, stat1 : ${tabelaCommand.eliminatorias}">
	<div class="tabela" th:if="${eliminatoria.isAtivo}">

		<span class="tituloGrupo" th:text="${eliminatoria.getNomeFase()}">OITAVAS DE FINAL</span>
		<table class="jogo" th:id="@{'apostaeliminatorias_' + ${stat1.index}}">
			
			<tr th:each="jogo, stat2 : ${eliminatoria.jogos}">
			<td><img th:src="@{'/resources/img/' + ${jogo.p1.nomeImg} + '.png'}" class="bandeira" th:alt="${jogo.p1.nome}"></td>
				<td th:text="${jogo.p1.sigla}">BRA</td>
				<td><input class="placar" type="text" th:name="|eliminatorias[${stat1.index}].jogos[${stat2.index}].gols1|" maxLength="2" th:value="${usuario_detalhe.aposta.jogoExiste(jogo.numeroDoJogo)} ? ${usuario_detalhe.aposta.getJogo(jogo.numeroDoJogo).gols1} : ''" readonly></td>
				<td>X</td>
				<td><input class="placar" type="text" th:name="|eliminatorias[${stat1.index}].jogos[${stat2.index}].gols2|" maxLength="2" th:value="${usuario_detalhe.aposta.jogoExiste(jogo.numeroDoJogo)} ? ${usuario_detalhe.aposta.getJogo(jogo.numeroDoJogo).gols2} : ''" readonly></td>
				<td th:text="${jogo.p2.sigla}">ALE</td>
				<td><img th:src="@{'/resources/img/' + ${jogo.p2.nomeImg} + '.png'}" class="bandeira" th:alt="${jogo.p2.nome}"></td>
				<td class="info"><span style="color: black; font-size: 18px;"th:text="${jogo.getFormatedDate()}">30/12 20:00</span><br><span th:text="${jogo.estadio}">Nome do Estadio</span></td>
			</tr>
		</table>
	</div>
</div>

<!--/*@thymesVar id="jogos" type="com.pvictorcr.bolaodacopa.commands.JogoCommand"*/-->
<!--/*@thymesVar id="classificacao" type="com.pvictorcr.bolaodacopa.commands.PaisCommand"*/-->
<!--/*@thymesVar id="tabelaCommand" type="com.pvictorcr.bolaodacopa.commands.tabelaCommandCommand"*/-->
<div th:each="grupo, stat1 : ${tabelaCommand.grupos}">
	<div class="tabela" th:if="${not #lists.isEmpty(grupo.jogos)}">
	
		<span class="tituloGrupo" th:text="@{'GRUPO ' + ${grupo.grupo}}">GRUPO X</span>
		<table th:id="@{'apostagrupo_' + ${stat1.index}}" class="jogo">
			
			<tr th:each="jogo, stat2 : ${grupo.jogos}">
			<td>
				<img th:src="@{'/resources/img/' + ${jogo.p1.nomeImg} + '.png'}" class="bandeira" th:alt="${jogo.p1.nome}"></td>
				<td th:text="${jogo.p1.sigla}">BRA</td>
				<td><input class="placar" type="text" th:name="|grupos[${stat1.index}].jogos[${stat2.index}].gols1|" maxLength="2" th:value="${usuario_detalhe.aposta.jogoExiste(jogo.numeroDoJogo)} ? ${usuario_detalhe.aposta.getJogo(jogo.numeroDoJogo).gols1} : ''" readonly></td>
				<td>X</td>
				<td><input class="placar" type="text" th:name="|grupos[${stat1.index}].jogos[${stat2.index}].gols2|" maxLength="2" th:value="${usuario_detalhe.aposta.jogoExiste(jogo.numeroDoJogo)} ? ${usuario_detalhe.aposta.getJogo(jogo.numeroDoJogo).gols2} : ''" readonly></td>
				<td th:text="${jogo.p2.sigla}">ALE</td>
				<td><img th:src="@{'/resources/img/' + ${jogo.p2.nomeImg} + '.png'}" class="bandeira" th:alt="${jogo.p2.nome}"></td>
				<td class="info"><span style="color: black; font-size: 18px;"th:text="${jogo.getFormatedDate()}">30/12 20:00</span><br><span th:text="${jogo.estadio}">Nome do Estadio</span></td>
			</tr>
			
		</table>
	</div>
	</div>
	
	<div class="tabela">
	
		<span class="tituloGrupo">Final</span>
		<p class="mensagemdeerro" id="mensagemdeerrofinal"></p>
		<table id="apostafinalinicial" class="jogo">
			
			<tr>
			<td colspan="2">Vice-Campe&atilde;o</td>
			<td colspan="2">Campe&atilde;o</td>
			</tr>
			<tr>
				<td width="10%">
					<img th:src="@{${usuario_detalhe.aposta.viceCampeao.id} > 0 ? '/resources/img/' + ${usuario_detalhe.aposta.viceCampeao.nomeImg} + '.png' : '/resources/img/bandeira_interrogacao.png'}" class="bandeira" th:alt="@{${usuario_detalhe.aposta.viceCampeao} != null ? ${usuario_detalhe.aposta.viceCampeao.nome} : '?'}"></td>
				<td width="35%" th:text="${usuario_detalhe.aposta.viceCampeao.nome}">
				</td>
				<td width="35%" th:text="${usuario_detalhe.aposta.campeao.nome}">
				</td>
				<td width="10%"><img th:src="@{${usuario_detalhe.aposta.campeao.id} > 0 ? '/resources/img/' + ${usuario_detalhe.aposta.campeao.nomeImg} + '.png' : '/resources/img/bandeira_interrogacao.png'}" class="bandeira" th:alt="@{${usuario_detalhe.aposta.campeao} != null ? ${usuario_detalhe.aposta.campeao.nome} : '?'}"></td>
			</tr>
		</table>
	</div>
<script type="text/javascript" th:src="@{'/resources/js/copa.js'}"></script>
</body>
</html>