<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/header :: header"></head>
<body>
	<!--/*@thymesVar id="tabelaCommand" type="com.pvictorcr.bolaodacopa.commands.usuarioCommand"*/-->
	<div th:replace="fragments/menu :: menu"></div>
	
	<p class="bemvindo" th:text="@{'Editar jogos de ' + ${usuario_detalhe.nome}}">Editar Jogos de Fulano de Tal</p>
	<p class="mensagemdeerro" th:text="${result}"></p>

<!--/*@thymesVar id="tabelaCommand" type="com.pvictorcr.bolaodacopa.commands.tabelaCommand"*/-->
<form id="apostaCommand" th:object="${tabelaCommandCommand}" th:action="@{/atualizarapostagrupousuario/}"  method="post">
<input type="hidden" id="actionGrupos" name="actionGrupos" th:value="${tabelaCommand.actionGrupos}" />
<input type="hidden" id="actionEliminatorias" name="actionEliminatorias" th:value="${tabelaCommand.actionEliminatorias}" />
<input type="hidden" id="email" name="email" th:value="${usuario_detalhe.email}" />
<div th:each="eliminatoria, stat1 : ${tabelaCommand.eliminatorias}">
	<div class="tabela" th:if="${eliminatoria.isAtivo}">

		<span class="tituloGrupo" th:text="${eliminatoria.getNomeFase()}">OITAVAS DE FINAL</span>
		<table class="jogo" th:id="@{'apostaeliminatorias_' + ${stat1.index}}">
			
			<tr th:each="jogo, stat2 : ${eliminatoria.jogos}">
			<td><img th:src="@{'/resources/img/' + ${jogo.p1.nomeImg} + '.png'}" class="bandeira" th:alt="${jogo.p1.nome}"></td>
				<td th:text="${jogo.p1.sigla}">BRA</td>
				<td><input class="placar" type="text" th:name="|eliminatorias[${stat1.index}].jogos[${stat2.index}].gols1|" maxLength="2" onkeypress="return event.charCode >= 48 && event.charCode <= 57" th:value="${usuario_detalhe.aposta.jogoExiste(jogo.numeroDoJogo)} ? ${usuario_detalhe.aposta.getJogo(jogo.numeroDoJogo).gols1} : ''"></td>
				<td>X</td>
				<td><input class="placar" type="text" th:name="|eliminatorias[${stat1.index}].jogos[${stat2.index}].gols2|" maxLength="2" onkeypress="return event.charCode >= 48 && event.charCode <= 57" th:value="${usuario_detalhe.aposta.jogoExiste(jogo.numeroDoJogo)} ? ${usuario_detalhe.aposta.getJogo(jogo.numeroDoJogo).gols2} : ''"></td>
				<td th:text="${jogo.p2.sigla}">ALE</td>
				<td><img th:src="@{'/resources/img/' + ${jogo.p2.nomeImg} + '.png'}" class="bandeira" th:alt="${jogo.p2.nome}"></td>
				<td class="info"><span style="color: black; font-size: 18px;"th:text="${jogo.getFormatedDate()}">30/12 20:00</span><br><span th:text="${jogo.estadio}">Nome do Estadio</span></td>
				<td><img th:src="@{${usuario_detalhe.aposta.jogoExiste(jogo.numeroDoJogo)} ? '/resources/img/botao_modificar_red.png' : '/resources/img/botao_salvar_red.png'}" th:onclick="'javascript:salvarApostaEliminatoriasAdm(' + ${stat1.index} + ',' + ${stat2.index} + ',' + ${jogo.numeroDoJogo} + ',' + ${usuario_detalhe.aposta.jogoExiste(jogo.numeroDoJogo)} + ')'"/></td>
			</tr>
		</table>
	</div>
</div>

<!--/*@thymesVar id="jogos" type="com.pvictorcr.bolaodacopa.commands.JogoCommand"*/-->
<!--/*@thymesVar id="classificacao" type="com.pvictorcr.bolaodacopa.commands.PaisCommand"*/-->
<!--/*@thymesVar id="tabelaCommand" type="com.pvictorcr.bolaodacopa.commands.tabelaCommandCommand"*/-->
<div th:each="grupo, stat1 : ${tabelaCommand.grupos}">
	<div class="tabela" th:if="${not #lists.isEmpty(grupo.jogos)}">
	
		<span class="tituloGrupo" th:text="@{'GRUPO ' + ${grupo.grupo}}">GRUPO X</span>
		<table th:id="@{'apostagrupo_' + ${stat1.index}}" class="jogo">
			
			<tr th:each="jogo, stat2 : ${grupo.jogos}">
			<td>
				<img th:src="@{'/resources/img/' + ${jogo.p1.nomeImg} + '.png'}" class="bandeira" th:alt="${jogo.p1.nome}"></td>
				<td th:text="${jogo.p1.sigla}">BRA</td>
				<td><input class="placar" type="text" th:name="|grupos[${stat1.index}].jogos[${stat2.index}].gols1|" maxLength="2" onkeypress="return event.charCode >= 48 && event.charCode <= 57" th:value="${usuario_detalhe.aposta.jogoExiste(jogo.numeroDoJogo)} ? ${usuario_detalhe.aposta.getJogo(jogo.numeroDoJogo).gols1} : ''"></td>
				<td>X</td>
				<td><input class="placar" type="text" th:name="|grupos[${stat1.index}].jogos[${stat2.index}].gols2|" maxLength="2" onkeypress="return event.charCode >= 48 && event.charCode <= 57" th:value="${usuario_detalhe.aposta.jogoExiste(jogo.numeroDoJogo)} ? ${usuario_detalhe.aposta.getJogo(jogo.numeroDoJogo).gols2} : ''"></td>
				<td th:text="${jogo.p2.sigla}">ALE</td>
				<td><img th:src="@{'/resources/img/' + ${jogo.p2.nomeImg} + '.png'}" class="bandeira" th:alt="${jogo.p2.nome}"></td>
				<td class="info"><span style="color: black; font-size: 18px;"th:text="${jogo.getFormatedDate()}">30/12 20:00</span><br><span th:text="${jogo.estadio}">Nome do Estadio</span></td>
				<td><img th:src="@{${usuario_detalhe.aposta.jogoExiste(jogo.numeroDoJogo)} ? '/resources/img/botao_modificar_red.png' : '/resources/img/botao_salvar_red.png'}" th:onclick="'javascript:salvarApostaGruposAdm(' + ${stat1.index} + ',' + ${stat2.index} + ',' + ${jogo.numeroDoJogo} + ',' + ${usuario_detalhe.aposta.jogoExiste(jogo.numeroDoJogo)} + ')'"/></td>
			</tr>
			
		</table>
	</div>
	</div>
	
	<div class="tabela">
	
		<span class="tituloGrupo">Final</span>
		<p class="mensagemdeerro" id="mensagemdeerrofinal"></p>
		<table id="apostafinalinicial" class="jogo">
			
			<tr>
			<td colspan="2">Vice-Campe&atilde;o</td>
			<td colspan="2">Campe&atilde;o</td>
			</tr>
			<tr>
				<td width="10%">
					<img th:src="@{${usuario_detalhe.aposta.viceCampeao.id} > 0 ? '/resources/img/' + ${usuario_detalhe.aposta.viceCampeao.nomeImg} + '.png' : '/resources/img/bandeira_interrogacao.png'}" class="bandeira" th:alt="@{${usuario_detalhe.aposta.viceCampeao} != null ? ${usuario_detalhe.aposta.viceCampeao.nome} : '?'}"></td>
				<td width="35%">
					<select name="vicecampeao" id="vicecampeao">
						<option value="0">selecione</option>
						<option th:each="pais : ${paises}" th:value="${pais.nome}" th:text="${pais.nome}" th:selected="${pais.nome.equals(usuario_detalhe.aposta.viceCampeao.nome)}"></option>
					</select>
				</td>
				<td width="35%">
					<select name="campeao" id="campeao">
						<option value="0">selecione</option>
						<option th:each="pais : ${paises}" th:value="${pais.nome}" th:text="${pais.nome}" th:selected="${pais.nome.equals(usuario_detalhe.aposta.campeao.nome)}"></option>
					</select></td>
				<td width="10%"><img th:src="@{${usuario_detalhe.aposta.campeao.id} > 0 ? '/resources/img/' + ${usuario_detalhe.aposta.campeao.nomeImg} + '.png' : '/resources/img/bandeira_interrogacao.png'}" class="bandeira" th:alt="@{${usuario_detalhe.aposta.campeao} != null ? ${usuario_detalhe.aposta.campeao.nome} : '?'}"></td>
				<td width="10%"><img th:src="@{${not usuario_detalhe.aposta.finalJaApostada} ? '/resources/img/botao_salvar_red.png' : '/resources/img/botao_modificar_red.png'}" th:onclick="'javascript:salvarFinalAdm()'"/></td>
			</tr>
		</table>
	</div>
</form>
<script type="text/javascript" th:src="@{'/resources/js/copa_adm.js'}"></script>
</body>
</html>