<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/header :: header"></head>
<body>
	
	<div th:replace="fragments/menu :: menu"></div>
	
	<p class="bemvindo">SIMULADOR</p>

<!--/*@thymesVar id="tabelaCommand" type="com.pvictorcr.bolaodacopa.commands.tabelaCommandCommand"*/-->
<form id="tabelaCommand" th:object="${tabelaCommandCommand}" th:action="@{/simular/}"  method="post">
<div class="divInvisivel"><table class="tabelaInvisivel"><tr><td align=right><input class="w3-btn" type="submit" value="Simular!"></td></tr></table></div>
<div th:each="eliminatoria, stat1 : ${tabelaCommand.eliminatorias}">
	<div class="tabela" th:if="${eliminatoria.isAtivo}">

		<span class="tituloGrupo" th:text="${eliminatoria.getNomeFase()}">OITAVAS DE FINAL</span>
		<table class="jogo" th:id="@{'tabelaeliminatorias_' + ${stat1.index}}">
			
			<tr th:each="jogo, stat2 : ${eliminatoria.jogos}">
			<td><img th:src="@{'/resources/img/' + ${jogo.p1.nomeImg} + '.png'}" class="bandeira" th:alt="${jogo.p1.nome}"></td>
				<td th:style="@{${jogo.p1GanhouPenaltis()} ? 'background-color:lightgreen;' : ''}" th:text="${jogo.p1.sigla}">BRA</td>
				<td><input class="placar" type="text" th:name="|eliminatorias[${stat1.index}].jogos[${stat2.index}].gols1|" maxLength="2" onkeypress="return event.charCode >= 48 && event.charCode <= 57" th:value="${jogo.terminado} ? ${jogo.gols1} : ''" th:readonly="${jogo.terminado}"></td>
				<td>X</td>
				<td><input class="placar" type="text" th:name="|eliminatorias[${stat1.index}].jogos[${stat2.index}].gols2|" maxLength="2" onkeypress="return event.charCode >= 48 && event.charCode <= 57" th:value="${jogo.terminado} ? ${jogo.gols2} : ''" th:readonly="${jogo.terminado}"></td>
				<td th:style="@{${jogo.p2GanhouPenaltis()} ? 'background-color:lightgreen;' : ''}" th:text="${jogo.p2.sigla}">ALE</td>
				<td><img th:src="@{'/resources/img/' + ${jogo.p2.nomeImg} + '.png'}" class="bandeira" th:alt="${jogo.p2.nome}"></td>
				<td class="info"><span style="color: black; font-size: 18px;"th:text="${jogo.getFormatedDate()}">01/01 20:00</span><br><span th:text="${jogo.estadio}">Nome do Estadio</span></td>
				<td style="display: none"><input type="hidden" th:name="|eliminatorias[${stat1.index}].jogos[${stat2.index}].numeroDoJogo|" name="actionGrupos" th:value="${jogo.numeroDoJogo}" /></td>
			</tr>
		</table>
	</div>
</div>

<!--/*@thymesVar id="jogos" type="com.pvictorcr.bolaodacopa.commands.JogoCommand"*/-->
<!--/*@thymesVar id="classificacao" type="com.pvictorcr.bolaodacopa.commands.PaisCommand"*/-->
<!--/*@thymesVar id="tabelaCommand" type="com.pvictorcr.bolaodacopa.commands.tabelaCommandCommand"*/-->
<div th:each="grupo, stat1 : ${tabelaCommand.grupos}">
	<div class="tabela" th:if="${not #lists.isEmpty(grupo.jogos)}">
	
		<span class="tituloGrupo" th:text="@{'GRUPO ' + ${grupo.grupo}}">GRUPO A</span>
		<table th:id="@{'tabelagrupo_' + ${stat1.index}}" class="jogo">
			
			<tr th:each="jogo, stat2 : ${grupo.jogos}">
			<td>
				<img th:src="@{'/resources/img/' + ${jogo.p1.nomeImg} + '.png'}" class="bandeira" th:alt="${jogo.p1.nome}"></td>
				<td th:text="${jogo.p1.sigla}">BRA</td>
				<td><input class="placar" type="text" th:name="|grupos[${stat1.index}].jogos[${stat2.index}].gols1|" maxLength="2" onkeypress="return event.charCode >= 48 && event.charCode <= 57" th:value="${jogo.terminado} ? ${jogo.gols1} : ''" th:readonly="${jogo.terminado}"></td>
				<td>X</td>
				<td><input class="placar" type="text" th:name="|grupos[${stat1.index}].jogos[${stat2.index}].gols2|" maxLength="2" onkeypress="return event.charCode >= 48 && event.charCode <= 57" th:value="${jogo.terminado} ? ${jogo.gols2} : ''" th:readonly="${jogo.terminado}"></td>
				<td th:text="${jogo.p2.sigla}">ALE</td>
				<td><img th:src="@{'/resources/img/' + ${jogo.p2.nomeImg} + '.png'}" class="bandeira" th:alt="${jogo.p2.nome}"></td>
				<td class="info"><span style="color: black; font-size: 18px;"th:text="${jogo.getFormatedDate()}">01/01 20:00</span><br><span th:text="${jogo.estadio}">Nome do Estadio</span></td>
				<td style="display: none"><input type="hidden" th:name="|grupos[${stat1.index}].jogos[${stat2.index}].numeroDoJogo|" name="actionGrupos" th:value="${jogo.numeroDoJogo}" /></td>
			</tr>
		</table>
	</div>
</div>
<div class="divInvisivel"><table class="tabelaInvisivel"><tr><td align=right><input class="w3-btn" type="submit" value="Simular!"></td></tr></table></div>
</form>
	
	<script type="text/javascript" th:src="@{'/resources/js/copa.js'}"></script>
</body>
</html>